<app-card>
  <form class="form-row" [formGroup]="form" (submit)="onSubmit()">
    <div class="form-group col-md-6">
      <label> Característica do produto* </label>
      <input appFormValidator formControlName="nomePropriedade" class="form-control" type="text" placeholder="Ex: Tamanho, Cor, Voltagem..."/>
    </div>
    <div class="form-group col-md-6">
      <label> Código </label>
      <input appFormValidator formControlName="codigoPropriedade" class="form-control" type="text" placeholder="Ex.: TAM, CO, VT..."/>
    </div>
    <div class="form-group col-12 text-right">
      <app-add-button [loading]="loadingSalvar"></app-add-button>
    </div>
  </form>
</app-card>