@import './light-theme-vars.scss';
@import './../app/templates/sidebar/sidebar.component.theme.scss';
@import './../app/shared/card/card.component.theme.scss';
@import './../app/shared/tabela/tabela.component.theme.scss';

@mixin set-light-theme() {
  $theme: $light-theme-vars;
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $text: map-get($theme, text);
  $main: map-get($theme, main);
  $info: map-get($theme, info);
  $warn: map-get($theme, warn);

  body {
    background-color: $background;
    color: $text;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
  }

  .background-color {
    background-color: $background;
  }

  a.main,
  button.main {
    background-color: $main;
    color: #fff;
    font-weight: 600;

    &:hover {
      color: #fff;
      background-color: lighten($main, 10%);
    }
  }

  @include sidebar-theme($theme);
  @include card-theme($theme);
  @include tabela-theme($theme);
}