.tabela {
  width: 100%;
}

.linha-edicao {
  background-color: rgba(0,0,0,.075);
}

td {
  position: relative;
}

.btn-delete {
  position: absolute;
  right: 0;
  top: calc(50% - 15px);
  opacity: 0;
  transition: all 0.1s ease;
}

tr:hover {
  .btn-acao {
    opacity: 0.5;
  }

  .btn-acao:hover {
    opacity: 1;
  }
}