<div class="text-right mb-3 p-1" *ngIf="canEdit">
  <button class="small" (click)="botaoAddClicado()"> <i class="fas fa-plus"></i> </button>
</div>

<form>
  <table class="tabela table table-hover" #contentTable>
    <thead>
      <th *ngFor="let col of cols"> {{ col.name }} </th>
    </thead>
    <tbody>
  
      <tr class="linha-edicao" *ngIf="showAddRow">
        <td *ngFor="let col of cols; let i = index">
          <ng-container *ngTemplateOutlet="editarCol; context: {col: col, index: i}"></ng-container>
        </td>
      </tr>
  
  
      <tr *ngFor="let item of data; let i = index" [class.linha-edicao]="isEditandoLinha(i)">
        <td *ngFor="let col of cols; let iCol = index" (click)="!col.customColum && editarLinha(item, i)"> 
          <ng-container *ngIf="!isEditandoLinha(i)">
            <ng-container *ngIf="col.customColum; else simpleValue" 
              [ngTemplateOutlet]="getCustomColum(col.customColum)" 
              [ngTemplateOutletContext]="{$implicit: item, index: i, col: col}">
            </ng-container>

            <ng-template #simpleValue>
              {{ getColValue(item, col) }}
            </ng-template>
            
            
            <app-button *ngIf="iCol == cols.length-1" 
              type="delete" 
              (click)="deletarClick(item); $event.stopPropagation()"
              class="btn-delete"
              [small]="true">
            </app-button>
          </ng-container>
          <ng-container *ngIf="isEditandoLinha(i)" [ngTemplateOutlet]="editarCol" [ngTemplateOutletContext]="{col: col, index: iCol, isEdit: true, item: item}"></ng-container>
        </td>
      </tr>
  
    </tbody>
  </table>
</form>

<ng-container *ngIf="estaVazio">
  <p class="text-center"> Nada encontrado! </p>
</ng-container>

<ng-template #editarCol let-col="col" let-index="index" let-isEdit="isEdit" let-item="item">
  <app-coluna-edicao *ngIf="col.control"
    [control]="col.control"
    [name]="col.bindValue"
    [type]="col.type || 'string'">
  </app-coluna-edicao>

  <div *ngIf="index == cols?.length-1" class="mt-3 text-right">
    <button type="button" (click)="cancelar(); $event.stopPropagation()" class="small bg-white mr-2"> Cancelar </button>
    <app-button (click)="salvar(item)" [type]="isEdit ? 'edit' : 'add'" [small]="true"></app-button>
  </div>
</ng-template>
