<app-card>
  <app-tabela 
    [cols]="cols" 
    [data]="propriedadesSku"
    [canEdit]="true"
    (editar)="salvar($event?.idPropriedadeSKU)"
    (deletar)="deletar($event?.idPropriedadeSKU)"
    (adicionar)="salvar()">

    <ng-template appCustomColum="addOpcao" let-item>
      <button class="small" (click)="propriedadeSelecionado = item; dialogOpcoes.open()"> Gerenciar Opções </button>
    </ng-template>    
  
  </app-tabela>
</app-card>

<app-dialog #dialogOpcoes size="lg" titulo="Gerenciar opções - {{ propriedadeSelecionado?.nomePropriedade }}">
  <app-listar-opcoes-caracteristicas [idCaracteristica]="propriedadeSelecionado?.idPropriedadeSKU"></app-listar-opcoes-caracteristicas>
</app-dialog>