/* You can add global styles to this file, and also import other style files */
@import './styles/themes.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Nunito', 'Arial', 'Helvetica', sans-serif;
}

a.btn,
button {
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 5px;
}

form label {
  font-weight: 600;
}

.form-control {
  height: 3rem;
}

:not(form).ng-invalid.ng-touched {
  color: red;
  border-color: red;
}

:not(form).ng-valid.ng-touched {
  border-color: green;
}